#navbar-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#navbar-container > div {
    padding: 25px;
}

#navbar-container > div:nth-child(1) {
    width: var(--left-width);
}

#navbar-container > div:nth-child(2) {
    flex-grow: 7;
}

#navbar-container > div:nth-child(3) {
    flex-grow: 1;
}

#navbar-container button:hover {
    cursor: pointer;
}