#centered-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#centered-modal-content {
    background-color: white;
    border-radius: 10px;
    padding: var(--small-padding);
    max-width: 400px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--small-padding);
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
}
