.toggle-input-container {
    display: flex;
    flex-direction: column;
}

.toggle-input-container input {
    border: none;
}

.form-input-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    height: 20px;
    border-radius: 2px;
}

