:root {
    --general-padding: 25px;
    --general-margin: 25px;
    --left-width: 25%;
    --animation-speed-fast: 0.1s;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#file-controls-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#passage {
    height: 100vh;
    width: 90%;
}

.debug-mode {
    box-sizing: border-box;
    border: 1px solid black;
}

.left-column {
    width: var(--left-width);
}

.right-column {
    width: calc(100% - --left-width);
    flex-grow: 1;
}

li:hover, div[role='listitem']:hover {
    cursor: pointer;
    border: 1px solid blue;
    box-sizing: border-box; /** Keep border in calculation of dimensions */
}